HappyFeeder.json
[
    {
        "id": "80993258.b5ca7",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "6cc00dca.6211c4",
        "type": "rpi-gpio out",
        "z": "80993258.b5ca7",
        "name": "",
        "pin": "7",
        "set": "",
        "level": "0",
        "freq": "50",
        "out": "pwm",
        "x": 830,
        "y": 260,
        "wires": []
    },
    {
        "id": "54cd532d.462ccc",
        "type": "inject",
        "z": "80993258.b5ca7",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "1",
        "payloadType": "num",
        "x": 210,
        "y": 140,
        "wires": [
            [
                "6cc00dca.6211c4"
            ]
        ]
    },
    {
        "id": "8f6a911c.799a",
        "type": "inject",
        "z": "80993258.b5ca7",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "5",
        "payloadType": "num",
        "x": 210,
        "y": 180,
        "wires": [
            [
                "6cc00dca.6211c4"
            ]
        ]
    },
    {
        "id": "b3070ed3.ea5d9",
        "type": "inject",
        "z": "80993258.b5ca7",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "7",
        "payloadType": "num",
        "x": 210,
        "y": 220,
        "wires": [
            [
                "6cc00dca.6211c4"
            ]
        ]
    },
    {
        "id": "8406e571.52c258",
        "type": "inject",
        "z": "80993258.b5ca7",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "10",
        "payloadType": "num",
        "x": 210,
        "y": 260,
        "wires": [
            [
                "6cc00dca.6211c4"
            ]
        ]
    }
]